.row{
  text-align:center;
  
}
#choices{
  display:flex;
  justify-content:space-between;
  
}
h1{
  color:yellow;
}
h3{
  color: purple;
  font-family: 'Mountains of Christmas', cursive;
}
h4{
  color: blue;
  padding:5px;
  border:2px solid black;
  font-family: 'Kalam', cursive;
}
#rock{
  color:orange;
}
#paper{
  color:red;
}
#scissors{
  color:green;
}
#head{
  display: flex;
  justify-content: space-around;
}